Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Andy Kwong <andyhckwong@gmail.com>
Ardita Shkurti <ardita.shkurti@gmail.com>
Ariel Rokem <arokem@gmail.com>
Arron Shiffer <ams379@nau.edu>
Bartosz Telenczuk <bartosz@telenczuk.pl>
Brian Stucky <stuckyb@flmnh.ufl.edu>
Damien Irving <damien_irving@yahoo.com.au> <irving.damien@gmail.com>
Derek Howard <derekhoward@gmail.com>
Devendra Umbrajkar <devendra1810@gmail.com>
Edwin van der Helm <vdhelm@strw.leidenuniv.nl> <vdhelm@users.noreply.github.com>
Erin Becker <erinstellabecker@gmail.com>
Evan P. Williamson <evanpeterw@gmail.com>
Ewan Barr <ewan.d.barr@googlemail.com>
François Michonneau <francois.michonneau@gmail.com>
Giovanni Torres <giovanni.torres@gmail.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Ian Carroll <icarroll@sesync.org> <itcarroll@users.noreply.github.com>
James Adams <jladams@ou.edu>
James Allen <james@sharelatex.com> <jamesallen0108@gmail.com>
Jean-Christophe Leyder <jc.leyder@sciops.esa.int> <leyder@users.noreply.github.com>
Jessica Upani <nabbygirl@gmail.com>
Jim Stapleton <jmstpltn@gmail.com>
Jin Choi <jinchoi721@gmail.com>
John Chase <chasejohnh@gmail.com>
John R. Leeman <kd5wxb@gmail.com>
Katie Moore <kdmoore@email.wm.edu>
Kristoffer L. Nielbo <kln@cas.au.dk>
Leigh Sheneman <leighs@msu.edu>
Mahdi Sadjadi <Mahdisadjadi@users.noreply.github.com>
Maxim Belkin <maxim.belkin@gmail.com> <maxim-belkin@users.noreply.github.com>
Maxime Boissonneault <maxime.boissonneault@calculquebec.ca>
Mike Jackson <m.jackson@software.ac.uk> <michaelj@epcc.ed.ac.uk>
Narayanan Raghupathy <narayanan.r@gmail.com>
Neal Davis <davis68@illinois.edu> <davisneale@gmail.com>
Nicola Soranzo <nicola.soranzo@earlham.ac.uk> <nicola.soranzo@tgac.ac.uk>
Nicola Soranzo <nicola.soranzo@earlham.ac.uk> <nsoranzo@tiscali.it>
Pauline Barmby <pbarmby@uwo.ca>
Pawel Pomorski <ppomorsk@users.noreply.github.com>
Peter Cock <p.j.a.cock@googlemail.com>
Pey-Lian Lim <lim@stsci.edu>
Raffaella Demichelis <raffaella.demichelis@curtin.edu.au>
Raniere Silva <raniere@rgaiacs.com> <ra092767@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com> <raniere@ime.unicamp.br>
Rémi Emonet <remi@heeere.com> <remi.emonet@reverse--com.heeere>
Rémi Emonet <remi@heeere.com> <twitwi@users.noreply.github.com>
Richard Clare <richard.clare@canterbury.ac.nz>
Roald Eiselen <roaldeiselen@hotmail.com>
Ryan Dale <dalerr@niddk.nih.gov>
Ryan Neufeld <raeneufe@uwaterloo.ca> <metavee@users.noreply.github.com>
Sarah Clayton <sarah.c.clayton@gmail.com>
Sigrid Klerke <SigridK@users.noreply.github.com>
Timothée Poisot <t.poisot@gmail.com> <tim@poisotlab.io>
Toby Hodges <tbyhdgs@gmail.com>
Valentina Staneva <val_is_everywhere@yahoo.com>
Valentina Staneva <val_is_everywhere@yahoo.com> <valentina-s@users.noreply.github.com>
Vinai Roopchansingh <roopchansinghv@mh01971931maclt.nih.gov>
Willem Ligtenberg <willem@wligtenberg.nl>
zz-msleigh <msleigh@users.noreply.github.com>
zz-YourName <you@example.com>
