Hakim Achterberg <hachterberg@bigr-hakim>
James Adams <jladams@ou.edu>
Joshua Adelman <joshua.adelman@gmail.com>
James Allen <jamesallen0108@gmail.com>
Sung Bae <sung.bae@canterbury.ac.nz>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
Pauline Barmby <pbarmby@uwo.ca>
Ewan Barr <ewan.d.barr@googlemail.com>
David Beitey <david@davidjb.com>
Trevor Bekolay <tbekolay@gmail.com>
Jared Berghold <jared@intersect.org.au>
John Blischak <jdblischak@gmail.com>
Maxime Boissonneault <maxime.boissonneault@calculquebec.ca>
Azalee Bostroem <abostroem@gmail.com>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Amy Brown <amyrhoda@gmail.com>
Kyler Brown <kylerjbrown@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
John Chase <chasejohnh@gmail.com>
Jin Choi <jinchoi721@gmail.com>
Richard Clare <richard.clare@canterbury.ac.nz>
Sarah Clayton <sarah.c.clayton@gmail.com>
Peter Cock <p.j.a.cock@googlemail.com>
Marianne Corvellec <marianne.corvellec@ens-lyon.org>
Thomas Coudrat <thomas.coudrat@gmail.com>
Ryan Dale <dalerr@niddk.nih.gov>
Matt Davis <jiffyclub@gmail.com>
Andrew Davison <andrew.davison@unic.cnrs-gif.fr>
Raffaella Demichelis <raffaella.demichelis@curtin.edu.au>
Gabriel A. Devenyi <gdevenyi@gmail.com>
Emily Dolson <emilyldolson@gmail.com>
David Dotson <dotsdl@gmail.com>
Laurent Duchesne <l@urent.org>
Jonah Duckles <jonah@duckles.org>
Rémi Emonet <remi@heeere.com> <remi.emonet@univ-st-etienne.fr>
K. Arthur Endsley <endsley@umich.edu>
Nicolas Fauchereau <Nicolas.Fauchereau@gmail.com>
Talitha Ford <talithaford@Talithas-MacBook-Pro.local>
Ivan Gonzalez <iglpdc@gmail.com>
Jan Gosmann <jan@hyper-world.de>
John Gosset <john.gosset@gmail.com>
Jeremy Gray <jeremycgray@gmail.com>
Bastian Greshake <bgreshake@googlemail.com>
Mary Haley <haley@ucar.edu>
Sam Hames <samuel.hames@uqconnect.edu.au>
Jessica B. Hamrick <jhamrick@berkeley.edu>
Michael Hansen <hansen.mike@gmail.com>
Konrad Hinsen <konrad.hinsen@fastmail.net>
Johan Hjelm <johh@dtu.dk>
Toby Hodges <tbyhdgs@gmail.com>
Derek Howard <derekhoward@gmail.com>
Damien Irving <damien_irving@yahoo.com.au> <irving.damien@gmail.com>
Mike Jackson <michaelj@epcc.ed.ac.uk>
Ben Jolly <jollyb@landcareresearch.co.nz>
Nick Jones <n.jones@auckland.ac.nz>
Blake Joyce <bjoyce3@email.arizona.edu>
David Ketcheson <dketch@gmail.com>
W. Trevor King <wking@tremily.us>
Sigrid Klerke <sigridklerke@gmail.com>
Benjamin Laken <benlaken@gmail.com>
Hilmar Lapp <hlapp@drycafe.net>
Doug Latornell <djl@douglatornell.ca>
Jean-Christophe Leyder <jc.leyder@sciops.esa.int>
Johnny Lin <johnny@johnny-lin.com>
Andrew Lonsdale <andrew.lonsdale@lonsbio.com.au>
Alexandre Manhaes Savio <alexsavio@gmail.com>
Dan Mazur <danpmazur@gmail.com>
François Michonneau <francois.michonneau@gmail.com>
Bill Mills <mills.wj@gmail.com>
Zakariyya Mughal <zaki.mughal@gmail.com>
Narayanan <narayanan.r@gmail.com>
Lex Nederbragt <lex.nederbragt@bio.uio.no>
Ryan Neufeld <raeneufe@uwaterloo.ca>
Aaron O'Leary <aaron.oleary@gmail.com>
Adam Obeng <github@binaryeagle.com>
Jeramia Ory <jeramia.ory@gmail.com>
Natalia Osiecka <nzw.natalia.osiecka@gmail.com>
Jon Pipitone <jon.pipitone@utoronto.ca>
Adrianna Pińska <adrianna.pinska@gmail.com>
Timothée Poisot <tim@poisotlab.io>
Pawel Pomorski <ppomorsk@sharcnet.ca>
Florian Rathgeber <florian.rathgeber@gmail.com>
Adam Richie-Halford <richford@uw.edu>
Janet Riley <jriley@janetriley.net>
Ariel Rokem <arokem@gmail.com>
Marjorie Roswell <mroswell@gmail.com>
Mahdi Sadjadi <mahdisadjadi@asu.edu>
Elliott Sales de Andrade <quantum.analyst@gmail.com>
Sebastian Schmeier <s.schmeier@gmail.com>
Leigh Sheneman <leighs@msu.edu>
Arron Shiffer <ams379@nau.edu>
Ardita Shkurti <ardita.shkurti@gmail.com>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@ime.unicamp.br> <raniere@rgaiacs.com>
Nicola Soranzo <nicola.soranzo@tgac.ac.uk> <nsoranzo@tiscali.it>
Erik Spence <ejspence@scinet.utoronto.ca>
Ashwin Srinath <ashwinsrnth@gmail.com>
Valentina Staneva <val_is_everywhere@yahoo.com> <vms16@uw.edu>
Jim Stapleton <jmstpltn@gmail.com>
Brian Stucky <stuckyb@flmnh.ufl.edu>
Cody Taylor <codyalantaylor@gmail.com>
Bartosz Telenczuk <bartosz@telenczuk.pl>
Ian Thomas <ianedwardthomas@gmail.com>
Brian Thorne <hardbyte@gmail.com>
Giovanni Torres <giovanni.torres@gmail.com>
Tim Tröndle <tim.troendle@younicos.com>
Olav Vahtras <vahtras@kth.se>
Edwin van der Helm <vdhelm@strw.leidenuniv.nl>
Alistair Walsh <alistair.walsh@me.com>
Derek Weitzel <djw8605@gmail.com>
Daniel Wheeler <daniel.wheeler2@gmail.com>
Ethan White <ethan@weecology.org>
Frank Willmore <frankwillmore@gmail.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Andrea Zonca <code@andreazonca.com>
