Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Abigail Cabunoc <abigail.cabunoc@oicr.on.ca> <abigail.cabunoc@gmail.com>
Francois Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Raniere Silva <raniere@ime.unicamp.br> <raniere@ime.unicamp.br>
Raffaella Demichelis <raffaella.demichelis@curtin.edu.au>
Ewan Barr <ewan.d.barr@googlemail.com>
Maxime Boissonneault <maxime.boissonneault@calculquebec.ca>
Pawel Pomorski <ppomorsk@users.noreply.github.com>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@rgaiacs.com> <raniere@ime.unicamp.br>
Ryan Dale <dalerr@niddk.nih.gov>
John Chase <chasejohnh@gmail.com>
Michael Jackson <michaelj@epcc.ed.ac.uk>
Peter Cock <p.j.a.cock@googlemail.com>
Leigh Sheneman <leighs@msu.edu>
Arron Shiffer <ams379@nau.edu>
Pauline Barmby <pbarmby@uwo.ca>
