# This is the configuration file for the Travis-CI continuous integration
# service.
# From http://jekyllrb.com/docs/continuous-integration/travis-ci/
language: ruby
rvm:
- 2.3.3

#before_script:
# - chmod +x ./script/cibuild # or do this locally and commit

# Assume bundler is being used, therefore
# the `install` step will run `bundle install` by default.
#script: ./script/cibuild

#install:
#    - gem install jekyll html-proofer github-pages

#before_script:
#    - bundle update github-pages

script:
    - git remote -v
    - bundle exec jekyll build --config _config.yml,_travis.yml
    - bundle exec htmlproofer ./_site
    - github-pages health-check

# branch whitelist, only for GitHub Pages
# branches:
#   only:
#   - gh-pages     # test the gh-pages branch
#   - /pages-(.*)/ # test every branch which starts with "pages-"

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

sudo: false # route your build to the container-based infrastructure for a faster build
