<p><img alt="Variables as Sticky Notes" src="{{ site.github.url }}/fig/python-sticky-note-variables-01.svg" /></p>
<hr/>
<p><img alt="Creating Another Variable" src="{{ site.github.url }}/fig/python-sticky-note-variables-02.svg" /></p>
<hr/>
<p><img alt="Updating a Variable" src="{{ site.github.url }}/fig/python-sticky-note-variables-03.svg" /></p>
<hr/>
<p><img alt="Operations Across Axes" src="{{ site.github.url }}/fig/python-operations-across-axes.png" /></p>
<hr/>
<p><img alt="Heatmap of the Data" src="{{ site.github.url }}/fig/01-numpy_71_0.png" /></p>
<hr/>
<p><img alt="Average Inflammation Over Time" src="{{ site.github.url }}/fig/01-numpy_73_0.png" /></p>
<hr/>
<p><img alt="Maximum Value Along The First Axis" src="{{ site.github.url }}/fig/01-numpy_75_1.png" /></p>
<hr/>
<p><img alt="Minimum Value Along The First Axis" src="{{ site.github.url }}/fig/01-numpy_75_3.png" /></p>
<hr/>
<p><img alt="The Previous Plots as Subplots" src="{{ site.github.url }}/fig/01-numpy_80_0.png" /></p>
<hr/>
<p><img alt="Analysis of inflammation-01.csv" src="{{ site.github.url }}/fig/03-loop_2_0.png" /></p>
<hr/>
<p><img alt="loop_image" src="{{ site.github.url }}/fig/loops_image.png" /></p>
<hr/>
<p><img alt="The first element of a list. Adapted from @hadleywickham's tweet about R lists." src="{{ site.github.url }}/fig/indexing_lists_python.png" /></p>
<hr/>
<p><img alt="Analysis of inflammation-01.csv" src="{{ site.github.url }}/fig/03-loop_49_1.png" /></p>
<hr/>
<p><img alt="Analysis of inflammation-02.csv" src="{{ site.github.url }}/fig/03-loop_49_3.png" /></p>
<hr/>
<p><img alt="Analysis of inflammation-03.csv" src="{{ site.github.url }}/fig/03-loop_49_5.png" /></p>
<hr/>
<p><img alt="Executing a Conditional" src="{{ site.github.url }}/fig/python-flowchart-conditional.png" /></p>
<hr/>
<p><img alt="The Blueprint for a Python Function" src="{{ site.github.url }}/fig/python-function.svg" /></p>
<hr/>
<p><img alt="Overlapping Ranges" src="{{ site.github.url }}/fig/python-overlapping-ranges.svg" /></p>
<hr/>
<p><img alt="Call Stack (Initial State)" src="{{ site.github.url }}/fig/python-call-stack-01.svg" /></p>
<hr/>
<p><img alt="Call Stack Immediately After First Function Call" src="{{ site.github.url }}/fig/python-call-stack-02.svg" /></p>
<hr/>
<p><img alt="Call Stack During First Nested Function Call" src="{{ site.github.url }}/fig/python-call-stack-03.svg" /></p>
<hr/>
<p><img alt="Call Stack After Return From First Nested Function Call" src="{{ site.github.url }}/fig/python-call-stack-04.svg" /></p>
<hr/>
<p><img alt="Call Stack During Call to Second Nested Function" src="{{ site.github.url }}/fig/python-call-stack-05.svg" /></p>
<hr/>
<p><img alt="Call Stack After Second Nested Function Returns" src="{{ site.github.url }}/fig/python-call-stack-06.svg" /></p>
<hr/>
<p><img alt="Call Stack After All Functions Have Finished" src="{{ site.github.url }}/fig/python-call-stack-07.svg" /></p>
<hr/>
<p><img alt="" src="{{ site.github.url }}/fig/grid-01.png" /></p>
<hr/>
<p><img alt="RGB Color Cube" src="{{ site.github.url }}/fig/color-cube.png" /></p>
<hr/>
<p><img alt="" src="{{ site.github.url }}/fig/grid-02.png" /></p>
<hr/>
<p><img alt="" src="{{ site.github.url }}/fig/ipythonblocks_show_color_example.png" /></p>
<hr/>
<p><img alt="" src="{{ site.github.url }}/fig/grid-03.png" /></p>
