<p><img alt="Variables as Sticky Notes" src="../fig/python-sticky-note-variables-01.svg" /></p>
<hr/>
<p><img alt="Creating Another Variable" src="../fig/python-sticky-note-variables-02.svg" /></p>
<hr/>
<p><img alt="Updating a Variable" src="../fig/python-sticky-note-variables-03.svg" /></p>
<hr/>
<p><img alt="Operations Across Axes" src="../fig/python-operations-across-axes.png" /></p>
<hr/>
<p><img alt="Heatmap of the Data" src="../fig/01-numpy_71_0.png" /></p>
<hr/>
<p><img alt="Average Inflammation Over Time" src="../fig/01-numpy_73_0.png" /></p>
<hr/>
<p><img alt="Maximum Value Along The First Axis" src="../fig/01-numpy_75_1.png" /></p>
<hr/>
<p><img alt="Minimum Value Along The First Axis" src="../fig/01-numpy_75_3.png" /></p>
<hr/>
<p><img alt="The Previous Plots as Subplots" src="../fig/01-numpy_80_0.png" /></p>
<hr/>
<p><img alt="Analysis of inflammation-01.csv" src="../fig/03-loop_2_0.png" /></p>
<hr/>
<p><img alt="loop_image" src="../fig/loops_image.png" /></p>
<hr/>
<p><img alt="The first element of a list. Adapted from @hadleywickham's tweet about R lists." src="../fig/indexing_lists_python.png" /></p>
<hr/>
<p><img alt="Analysis of inflammation-01.csv" src="../fig/03-loop_49_1.png" /></p>
<hr/>
<p><img alt="Analysis of inflammation-02.csv" src="../fig/03-loop_49_3.png" /></p>
<hr/>
<p><img alt="Analysis of inflammation-03.csv" src="../fig/03-loop_49_5.png" /></p>
<hr/>
<p><img alt="Executing a Conditional" src="../fig/python-flowchart-conditional.png" /></p>
<hr/>
<p><img alt="The Blueprint for a Python Function" src="../fig/python-function.svg" /></p>
<hr/>
<p><img alt="Overlapping Ranges" src="../fig/python-overlapping-ranges.svg" /></p>
<hr/>
<p><img alt="Call Stack (Initial State)" src="../fig/python-call-stack-01.svg" /></p>
<hr/>
<p><img alt="Call Stack Immediately After First Function Call" src="../fig/python-call-stack-02.svg" /></p>
<hr/>
<p><img alt="Call Stack During First Nested Function Call" src="../fig/python-call-stack-03.svg" /></p>
<hr/>
<p><img alt="Call Stack After Return From First Nested Function Call" src="../fig/python-call-stack-04.svg" /></p>
<hr/>
<p><img alt="Call Stack During Call to Second Nested Function" src="../fig/python-call-stack-05.svg" /></p>
<hr/>
<p><img alt="Call Stack After Second Nested Function Returns" src="../fig/python-call-stack-06.svg" /></p>
<hr/>
<p><img alt="Call Stack After All Functions Have Finished" src="../fig/python-call-stack-07.svg" /></p>
<hr/>
<p><img alt="" src="../fig/grid-01.png" /></p>
<hr/>
<p><img alt="RGB Color Cube" src="../fig/color-cube.png" /></p>
<hr/>
<p><img alt="" src="../fig/grid-02.png" /></p>
<hr/>
<p><img alt="" src="../fig/ipythonblocks_show_color_example.png" /></p>
<hr/>
<p><img alt="" src="../fig/grid-03.png" /></p>
