<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>10:20</td>  <td>Coffee</td> </tr>
      <tr> <td>10:40</td>  <td>Automating tasks with the Unix shell (continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Building programs with Python</td> </tr>
      <tr> <td>14:20</td>  <td>Coffee</td> </tr>
      <tr> <td>14:40</td>  <td>Building programs with Python (continued)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version control with Git</td> </tr>
      <tr> <td>10:20</td>  <td>Coffee</td> </tr>
      <tr> <td>10:40</td>  <td>Version control with Git (continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Managing data with SQL</td> </tr>
      <tr> <td>14:20</td>  <td>Coffee</td> </tr>
      <tr> <td>14:40</td>  <td>Managing data with SQL (continued)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
